body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#drop-area {
    border: 2px dashed #ccc;
    border-radius: 20px;
    width: 480px;
    font-family: sans-serif;
    padding: 20px;
}

    #drop-area.highlight {
        border-color: purple;
    }

p {
    margin-top: 0;
}

.my-form {
    margin-bottom: 10px;
}

#gallery {
    margin-top: 10px;
}

    #gallery img {
        width: 150px;
        margin-bottom: 10px;
        margin-right: 10px;
        vertical-align: middle;
    }

.button {
    display: inline-block;
    padding: 10px;
    background: #ccc;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
}

    .button:hover {
        background: #ddd;
    }

#fileElem {
    display: none;
}

.form-with-shadow {
    margin: 15px;
    padding: 15px;
    box-shadow: 0px 0px 19px 8px rgba(0,0,0,0.42);
}

button {
    margin-top: 10px;
}

.table-class {
    box-shadow: 0px 4px 18px 3px rgb(34 60 80 / 43%);
    border: outset;
}
