@model IEnumerable<FishWithAuth.EF.Entities.Fish>

@{
    ViewBag.Title = "View";
}

@foreach (var item in Model)
{
    <div class="card" style="        margin-top: 20px;
        box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;">
        <img src="@item.Image" class="card-img-top" style=";
        margin: 20px;
        max-width: 200px;
        max-height: 200px;
        box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);">
        <div class="card-body">
            <h5 class="card-title">@item.Name</h5>
            <p class="card-text">@item.Description</p>
             <a href="#" class="btn btn-primary">Подробнее</a>

            @if (ViewBag.IsAdmin)
            {
                using (Html.BeginForm("UpdateFish", "Home"))
                {
                    <input type="hidden" name="fishId" id="fishId" value="@item.Id" />
                    <input type="submit" class="btn btn-primary" style="margin-top: 5px;" value="Редактировать ( для админа )" />
                }
            }
        </div>
    </div>
}