@{
    ViewBag.Title = "Home Page";
}

<div>
    <div class="baner_img_block">
        <img class="baner_index" src="https://hsto.org/webt/k-/ok/6q/k-ok6qtfmp2kvrf8009tzlgi5vg.jpeg"/>
        <div class="index_description_name">
            <h1>Добро пожаловать!</h1>
            <p>Перед тем как приступить к своей первой рыбалке ознокомьтесь с законодательством Республики Беларусь по рыбной ловле</p>
        </div>
    </div>
    <div class="zaconi_block">
        <td bgcolor="#ffffff" width="586">
            <br>
            <center>
            </center>
            <h3>Приказ Министерства природных ресурсов и охраны окружающей среды Республики Беларусь от 29.05.1998 N 158 "Об утверждении Правил любительского рыболовства Республики Беларусь, Правил промыслового рыболовства Республики Беларусь, Положения о конкурсах по передаче в аренду рыболовных угодий для рыбохозяйственного использования"</h3>


        


            <br>
            <p class="txtj">В соответствии с Законом Республики Беларусь "Об охране и использовании животного мира", на основании Положения о рыболовстве, утвержденного Постановлением 18.06.1997 г. N 741, ПРИКАЗЫВАЮ:</p>
            <p class="txtj">1. Утвердить Правила любительского рыболовства Республики Беларусь, Правила промыслового рыболовства Республики Беларусь, Положение о конкурсах по передаче в аренду рыболовных угодий для рыбохозяйственного использования.</p>
            <p class="txtj">2. Комитету рыбоохраны (А.М.Шелег) совместно с сектором информации Управления организационной работы, экономики природопользования и информации (А.А.Матесович) обеспечить своевременное информирование граждан через средства массовой информации об утвержденных в пункте 1 настоящего приказа Правилах после Государственной регистрации, а также их тиражирование.</p>
            <p class="txtj">3. Контроль за выполнением настоящего приказа возложить на Комитет рыбоохраны (А.М.Шелег).</p>
            <br>
            <h3>ПРАВИЛА ЛЮБИТЕЛЬСКОГО РЫБОЛОВСТВА РЕСПУБЛИКИ БЕЛАРУСЬ</h3>
            <br>
            <h4>I. Общие положения</h4>
            <br>
            <p class="txtj">1. Настоящие Правила устанавливаются в соответствии с Законом Республики Беларусь "Об охране и использовании животного мира" и Положением о рыболовстве, утвержденным Постановлением Совета Министров Республики Беларусь от 18 июня 1997 г. N 741 и регламентируют порядок, сроки, нормы вылова, а также ограничения на осуществление любительского рыболовства на рыбохозяйственных водоемах (рыболовных угодьях) Республики Беларусь.</p>
            <p class="txtj">2. Действие настоящих Правил распространяется на все водоемы, в которых осуществляется любительский лов рыбы и добыча водных беспозвоночных для личного потребления (далее любительское рыболовство), за исключением водоемов прудовых, садковых, бассейновых и иных рыбоводных хозяйств, а также замкнутых водоемов технического назначения.</p>
            <p class="txtj">Любительским рыболовством признается лов рыбы (включая подводную охоту) в рыболовных угодьях незапрещенными орудиями и способами лова, а также добыча водных беспозвоночных для личного потребления.</p>
            <p class="txtj">Любительское рыболовство на водоемах заповедников и заповедных зон национальных парков запрещено.</p>
            <p class="txtj">3. Режим любительского рыболовства в трансграничных (пограничных) водоемах устанавливается в соответствии с международными договорами Республики Беларусь.</p>
            <p class="txtj">4. Объектами любительского рыболовства могут быть любые виды рыб и водных беспозвоночных, за исключением видов, включенных в Красную книгу Республики Беларусь, а также видов, лов которых запрещен или временно ограничен Министерством природных ресурсов и охраны окружающей среды в установленном законодательством Республики Беларусь порядке.</p>
            <p class="txtj">5. Любительское рыболовство осуществляется при соблюдении настоящих Правил бесплатно, за исключением:</p>
            <p class="txtj">рыболовных угодий, переданных в аренду субъектам хозяйствования для организации платного любительского рыболовства на условиях, установленных арендатором в соответствии с договором аренды;</p>
            <p class="txtj">отдельных водоемов, перечень которых утверждается Министерством природных ресурсов и охраны окружающей среды Республики Беларусь по представлению Комитета рыбоохраны.</p>
            <p class="txtj">6. Охрану рыболовных угодий и рыбных ресурсов на территории Республики Беларусь осуществляют органы Комитета рыбоохраны при Министерстве природных ресурсов и охраны окружающей среды Республики Беларусь (далее Комитет рыбоохраны) и арендаторы рыболовных угодий.</p>
            <p class="txtj">Государственный контроль за охраной рыбных ресурсов, их использованием, проведением работ по воспроизводству, а также регулирование рыболовства осуществляет Министерство природных ресурсов и охраны окружающей среды Республики Беларусь, его органы, Комитет рыбоохраны и его органы.</p>
            <p class="txtj">7. Арендаторы рыболовных угодий, ведущие промысловый лов рыбы и добычу водных беспозвоночных, не вправе препятствовать бесплатному любительскому рыболовству, если на водоеме не организовано в установленном порядке платное любительское рыболовство.</p>
            <p class="txtj">8. Подводная охота на не арендованных водоемах (рыболовных угодьях) разрешается согласно перечню водоемов, который утверждается Министерством природных ресурсов и охраны окружающей среды по представлению Комитета рыбоохраны.</p>
            <p class="txtj">9. Общественные организации (общества, клубы), объединяющие граждан, занимающихся любительским рыболовством действуют на основании уставов (положений), настоящих Правил и в соответствии с законодательством Республики Беларусь.</p>
            <p class="txtj">Общественные объединения могут арендовать рыболовные угодья для организации платного любительского рыболовства в установленном законодательством Республики Беларусь порядке.</p>
            <p class="txtj">10. Общественные объединения, арендаторы рыболовных угодий, местные исполнительные и распорядительные органы могут организовывать соревнования по спортивной рыбной ловле. Место, сроки и условия проведения соревнований должны быть согласованы их инициаторами с соответствующей инспекцией рыбоохраны, арендатором рыболовных угодий, местными исполнительными и распорядительными органами не позднее чем за 10 дней до начала соревнований.</p>
            <p class="txtj">11. Любительское рыболовство (бесплатное или за плату) на водоемах, находящихся на территории национальных парков и иных особо охраняемых природных территориях осуществляется в установленном законодательством Республики Беларусь порядке.</p>
            <br>
            <h4>II. Объекты рыболовства и нормы любительского лова</h4>
            <br>
            <p class="txtj">12. В рыболовных угодьях, где проводятся работы по зарыблению, акклиматизации, интродукции рыб и водных беспозвоночных, любительское рыболовство может быть ограничено или запрещено Министерством природных ресурсов и охраны окружающей среды по представлению Комитета рыбоохраны.</p>
            <p class="txtj">13. В рыболовных угодьях запрещается любительский лов рыбы и добыча водных беспозвоночных, не достигших размеров, указанных в Приложении 2 настоящих Правил.</p>
            <p class="txtj">Длина рыбы определяется измерением расстояния от вершины рыла (при закрытом рте) до основания средних лучей хвостового плавника, длина рака и креветки - от линии глаз до конца хвостовой пластины.</p>
            <p class="txtj">14. Максимальный прилов рыб, менее допустимых к вылову размеров, указанных в Приложении 2, устанавливается не более 21 процента по счету от улова этих видов рыб.</p>
            <p class="txtj">Норма прилова рыб, не достигших допустимых к вылову размеров, может быть для отдельных водоемов увеличена или отменена Министерством природных ресурсов и охраны окружающей среды по представлению Комитета рыбоохраны в соответствии с научными обоснованиями.</p>
            <p class="txtj">Пойманные рыбы и добытые водные беспозвоночные меньших размеров, чем установлено в Приложении 2 настоящих Правил, с превышением допустимого прилова должны быть выпущены обратно в живом виде.</p>
            <p class="txtj">15. В рыболовных угодьях разрешается вылов не более 5 кг рыбы на одного рыбака в сутки, за исключением случаев, когда вес одной рыбы превышает эту норму.</p>
            <p class="txtj">Норма вылова колюшки, ерша, ротана, верховки, чебачка амурского не ограничивается.</p>
            <p class="txtj">Норма вылова рыбы при проведении соревнований по спортивной рыбной ловле не устанавливается, если это предусмотрено условиями соревнований.</p>
            <p class="txtj">Лов угря может производиться только за плату в порядке, устанавливаемом Министерством природных ресурсов и охраны окружающей среды.</p>
            <p class="txtj">16. Вылов раков на человека не должен превышать 30 штук в сутки, креветок - не более 1 кг.</p>
            <p class="txtj">17. Норма вылова рыбы, используемой в качестве наживки для ловли хищных рыб, допускается не более 30 штук в сутки на одного человека.</p>
            <p class="txtj">Запрещается отлов в качестве наживки молоди видов рыб, указанных в Приложении 2 настоящих Правил.</p>
            <p class="txtj">18. Добыча мотыля (хирономид) и других беспозвоночных, используемых для наживки и в качестве корма для рыб допускается не более 0,1 кг в сутки на человека.</p>
            <br>
            <h4>III. Орудия (снасти) любительского рыболовства</h4>
            <br>
            <p class="txtj">19. В рыболовных угодьях Республики Беларусь любительский лов рыбы и добыча водных беспозвоночных осуществляется орудиями лова (снастями), не запрещенными к применению настоящими Правилами.</p>
            <p class="txtj">К не запрещенным орудиям лова (снастям) любительского рыболовства относятся: нахлыстовые, поплавочные и донные удочки всех систем, спиннинги, кружки, дорожки, жерлицы, ловушки и сачки для ловли раков и креветок, ружья и пистолеты для подводной охоты, сачки и подъемные сетки для ловли живца.</p>
            <p class="txtj">20. Запрещается:</p>
            <p class="txtj">20.1. одновременное пользование снастями одного или различных видов с общим количеством крючков более 10 штук на рыболова;</p>
            <p class="txtj">20.2. применение на рыболовных снастях двойных и тройных крючков (считаются как один крючок) без блесны, естественной или искусственной наживки;</p>
            <p class="txtj">20.3. применение орудий лова из сетематериалов, кроме типов и размеров, установленных для отдельных водоемов Министерством природных ресурсов и охраны окружающей среды по представлению Комитета рыбоохраны;</p>
            <p class="txtj">20.4. применение раколовок в количестве более 3-х штук на одного рыболова с диаметром входного отверстия более 70 см и ячеей менее 22 мм;</p>
            <p class="txtj">20.5. использование для отлова рыбы в качестве наживки более одной подъемной сетки размером более 1 м х 1 м и ячеей более 10 мм или сачка диаметром более 0,5 м с ячеей более 8 мм;</p>
            <p class="txtj">20.6. добыча мотыля (хирономид) мотыльницей или другими отцеживающими приспособлениями размером более 0,5х0,5 метра;</p>
            <p class="txtj">20.7. лов рыбы со льда или с применением плавсредств в темное время суток, начало которого исчисляется спустя час после захода солнца и конец за час до восхода солнца;</p>
            <p class="txtj">20.8. подводная охота на рыб гражданам, не имеющим при себе удостоверения подводного стрелка, с использованием аквалангов и других автономных дыхательных приборов, с применением ружей для подводной охоты, стреляющих гарпуном с наконечником более 5 зубьев;</p>
            <p class="txtj">20.9. применение эхолотов;</p>
            <p class="txtj">20.10. применение электроудочек и других приспособлений, оказывающих вредное воздействие на рыб и водных беспозвоночных, а также нарушающих нормы любительского лова, установленных в разделе II.</p>
            <br>
            <h4>IV. Ограничения сроков лова рыб и водных беспозвоночных</h4>
            <br>
            <p class="txtj">21. В целях сохранения рыбных ресурсов Республики Беларусь и создания благоприятных условий для нереста рыб с учетом гидрометеорологического прогноза по представлению Комитета рыбоохраны Министерство природных ресурсов и охраны окружающей среды Республики Беларусь ежегодно устанавливает запреты (ограничения) на любительский лов рыбы в рыболовных угодьях.</p>
            <p class="txtj">Продолжительность запрета (ограничения) рыболовства в период весеннего нереста рыб на всех водоемах и все виды рыб составляет не менее 60 дней.</p>
            <p class="txtj">Продолжительность весеннего запрета рыболовства на водоемах, регулярно зарыбляемых нагуливающимися видами рыб, составляет 30 дней. Перечень таких водоемов определяется Комитетом рыбоохраны.</p>
            <p class="txtj">Конкретные сроки весеннего запрета на лов рыбы, а также перечень рыбохозяйственных водоемов и их участков, где разрешается ограниченный лов рыбы в период запрета, утверждаются приказом Министра природных ресурсов и охраны окружающей среды Республики Беларусь.</p>
            <p class="txtj">Сроки запрета и режим рыболовства в период весеннего нереста рыб сообщаются населению через средства массовой информации. Запрет вступает в силу с момента опубликования приказа о нем в периодической печати.</p>
            <p class="txtj">22. В случае резкого изменения погодных условий, местные исполнительные и распорядительные органы могут увеличить продолжительность весеннего запрета на лов рыбы по согласованию с Комитетом рыбоохраны.</p>
            <p class="txtj">23. В период весеннего нереста рыб любительский лов может быть разрешен на отдельных водоемах Министерством природных ресурсов и охраны окружающей среды по представлению Комитета рыбоохраны, согласованному с местными исполнительными и распорядительными органами, только с берега на участках за пределами мест нереста одной поплавочной удочкой с одним крючком на рыболова или спиннингом в светлое время суток.</p>
            <p class="txtj">24. Любительский лов рыбы на зимовальных ямах запрещается с 1 октября по 15 апреля. Перечень зимовальных ям с указанием их границ утверждается Министерством природных ресурсов и охраны окружающей среды Республики Беларусь.</p>
            <p class="txtj">25. Кроме запрета на лов всех видов рыб в период весеннего нереста устанавливаются запреты:</p>
            <p class="txtj">25.1. на лов щуки на всех водоемах с 1 марта по 31 марта;</p>
            <p class="txtj">25.2. Исключен. - Постановление Минприроды от 22.03.2005 N 15.</p>
            <p class="txtj">25.3. на лов налима с 25 декабря по 28 февраля;</p>
            <p class="txtj">25.4. на лов раков с 15 октября по 15 июля, а пресноводных креветок - с 1 апреля по 15 июня;</p>
            <p class="txtj">25.5. на лов двустворчатых моллюсков перловицы и беззубки с 1 апреля по 15 июня.</p>
            <p class="txtj">26. В случае ухудшения условий обитания рыб и водных беспозвоночных в рыболовных угодьях или истощения рыбных ресурсов отдельных рыбохозяйственных водоемов, продолжительность запрета на лов рыбы в период нереста может изменяться, а также может устанавливаться запрет (временный или постоянный) на лов отдельных видов рыб и добычу водных беспозвоночных, либо ограничиваться применение рыболовных снастей Министерством природных ресурсов и охраны окружающей среды Республики Беларусь на основании рекомендаций научно-исследовательских организаций или ихтиологической службы Комитета рыбоохраны, по согласованию с местными исполнительными и распорядительными органами.</p>
            <p class="txtj">27. Движение маломерных судов и моторных плавсредств на рыбохозяйственных водоемах в период нереста рыб может быть в установленном порядке временно запрещено или ограничено Министерством природных ресурсов и охраны окружающей среды по представлению Комитета рыбоохраны.</p>
            <p class="txtj">28. В рыболовных угодьях, где проводятся работы по акклиматизации и интродукции рыб, любительское рыболовство может быть ограничено или запрещено Министерством природных ресурсов и охраны окружающей среды по представлению Комитета рыбоохраны.</p>
            <br>
            <h4>V. Незаконный лов рыбы и добыча водных беспозвоночных</h4>
            <br>
            <p class="txtj">29. Незаконными признается лов рыбы и добыча водных беспозвоночных:</p>
            <p class="txtj">29.1. в запрещенные сроки или в запрещенных для рыболовства местах;</p>
            <p class="txtj">29.2. запрещенных для лова видов рыб или водных беспозвоночных;</p>
            <p class="txtj">29.3. с превышением установленных норм вылова (добычи) по количеству и размерам вылавливаемой рыбы и водных беспозвоночных;</p>
            <p class="txtj">29.4. с применением орудий и способов лова, запрещенных настоящими Правилами.</p>
            <p class="txtj">30. Запрещается любительский лов рыбы и добыча водных беспозвоночных:</p>
            <p class="txtj">30.1. не достигших размеров, определенных настоящими Правилами;</p>
            <p class="txtj">30.2. с использованием света, звука, электрического тока и других физических эффектов, воздействующих на рыб и водных беспозвоночных;</p>
            <p class="txtj">30.3. с применением взрывчатых веществ, ядов, а также любых видов химических препаратов, за исключением пахучих приманок;</p>
            <p class="txtj">30.4. на дорожку с плавсредств с применением мотора;</p>
            <p class="txtj">30.5. с использованием орудий подводной охоты с берега и лодки;</p>
            <p class="txtj">30.6. способом запруд и спуска воды из водоемов;</p>
            <p class="txtj">30.7. с плавсредств, не прошедших Государственной регистрации в установленном порядке;</p>
            <p class="txtj">30.8. у охраняемых мостов - в пределах режима охраны, у плотин, шлюзов и насосных станций - на расстоянии ближе 50 метров в обе стороны от гидротехнического сооружения;</p>
            <p class="txtj">30.9. любительский лов рыбы на расстоянии ближе 200 метров от обозначенных промысловых орудий лова;</p>
            <p class="txtj">30.10. с использованием колющих орудий лова, огнестрельного и пневматического оружия (за исключением ружей и пистолетов для подводной охоты), способом багрения.</p>
            <p class="txtj">31. Запрещается лов рыбы рыболовными орудиями лова (снастями), не разрешенными настоящими Правилами, а также нахождение с ними, в том числе в транспортном средстве, на водоеме или вблизи водоема.</p>
            <p class="txtj">32. Запрещаются любые действия физических лиц и субъектов хозяйствования, оказывающие негативное воздействие на среду обитания рыб и водных беспозвоночных (мойка автомашин, транспорта, сброс неочищенных сточных вод, самовольное уничтожение водной и береговой растительности, распашка земель, непосредственно примыкающих к водоемам, загрязнение и захламление водоема посторонними предметами и др.).</p>
            <p class="txtj">33. Запрещается выпуск в водоемы неиспользованного живца.</p>
            <p class="txtj">34. Запрещается любительское рыболовство на водоемах, расположенных на территориях зон радиоактивного загрязнения вследствие катастрофы на Чернобыльской АЭС, с которых эвакуировано или отселено население.</p>
            <br>
            <h4>VI. Права и обязанности арендаторов рыболовных угодий, организующих платное любительское рыболовство</h4>
            <br>
            <p class="txtj">35. Арендаторы рыболовных угодий, организующие платное любительское рыболовство, имеют право:</p>
            <p class="txtj">35.1. устанавливать и взимать плату за лов рыбы и добычу водных беспозвоночных в соответствии с договором аренды;</p>
            <p class="txtj">35.2. определять режим любительского рыболовства на арендуемых водоемах по согласованию с органами рыбоохраны с соблюдением настоящих Правил, правил водопользования и договора аренды;</p>
            <p class="txtj">35.3. вносить обоснованные предложения в органы рыбоохраны об установлении сроков запрета на лов рыбы и водных беспозвоночных;</p>
            <p class="txtj">35.4. предъявлять в установленном порядке иски о возмещении вреда, причиненного ему неправомерными действиями юридических и физических лиц, в том числе повлекшим за собой гибель рыб и водных беспозвоночных, ухудшение среды их обитания;</p>
            <p class="txtj">35.5. осуществлять контроль за соблюдением рыболовами режима любительского рыболовства на арендуемом водоеме.</p>
            <p class="txtj">36. Арендаторы рыболовных угодий, организующие любительское рыболовство обязаны:</p>
            <p class="txtj">36.1. использовать рыболовные угодья в соответствии с их целевым назначением и договором аренды;</p>
            <p class="txtj">36.2. соблюдать настоящие Правила, правила водопользования и иное законодательство в области охраны и использования животного мира;</p>
            <p class="txtj">36.3 оповещать население о режиме рыболовства в арендуемых рыболовных угодьях через средства массовой информации и иными доступными способами;</p>
            <p class="txtj">36.4. осуществлять мероприятия по воспроизводству рыбных ресурсов, рыбоводно-мелиоративные работы с целью сохранения и повышения продуктивности рыболовных угодий;</p>
            <p class="txtj">36.5. осуществлять мероприятия по предупреждению массовых эпизоотий, заморов рыб и ликвидации их последствий;</p>
            <p class="txtj">36.6. вести учет вылавливаемой рыбы и водных беспозвоночных рыболовами-любителями по весу, количеству и по видам;</p>
            <p class="txtj">36.7. предоставлять органам рыбоохраны сведения об использовании арендуемых рыболовных угодий по формам и в сроки, установленные органами рыбоохраны;</p>
            <p class="txtj">36.8. осуществлять контроль за соблюдением рыболовами режима любительского рыболовства, а также охрану рыбных ресурсов и среды их обитания в арендуемых рыболовных угодьях, применять меры воздействия к нарушителям настоящих Правил, предусмотренные законодательством об охране и использовании животного мира.</p>
            <br>
            <h4>VII. Охрана рыболовных угодий и рыбных ресурсов</h4>
            <br>
            <p class="txtj">37. Охрану рыболовных угодий и рыбных ресурсов на территории Республики Беларусь осуществляют органы рыбоохраны, арендаторы рыболовных угодий, а также работники, на которых возложены обязанности по охране заповедников и национальных парков.</p>
            <p class="txtj">38. Должностные лица органов рыбоохраны, Министерства природных ресурсов и охраны окружающей среды Республики Беларусьs, а также работники, на которых возложены обязанности по охране заповедников и национальных парков, имеют право:</p>
            <p class="txtj">38.1. прекращать незаконное рыболовство и добычу водных беспозвоночных;</p>
            <p class="txtj">38.2. проверять документы, удостоверяющие личность и право на рыболовство, останавливать транспортные, плавучие средства и производить досмотр вещей, транспортных средств и судов, орудий рыболовства, улова и других предметов у лиц, находящихся в рыболовных угодьях и на прилегающей к водоему территории в пределах водоохранной зоны;</p>
            <p class="txtj">38.3. в случаях необходимости доставлять лиц, нарушающих законодательство в области рыболовства, в органы внутренних дел, местные органы власти;</p>
            <p class="txtj">38.4. изымать у лиц, нарушивших законодательство о рыболовстве, рыболовные снасти, устройства и приспособления, послужившие орудием правонарушения, незаконно выловленную рыбу и водных беспозвоночных, соответствующие документы, а также задерживать транспортные и плавучие средства;</p>
            <p class="txtj">38.5. вызывать граждан для дачи письменных объяснений в связи с нарушением ими законодательства о рыболовстве;</p>
            <p class="txtj">38.6. составлять протоколы о правонарушениях в области охраны и использования рыбных ресурсов по делам об административных правонарушениях;</p>
            <p class="txtj">38.7. рассматривать дела об административных правонарушениях и налагать административные взыскания;</p>
            <p class="txtj">38.8. применять в установленном порядке физическую силу, специальные средства, служебных собак и табельное оружие;</p>
            <p class="txtj">38.9. предъявлять иски о возмещении вреда, причиненного рыбным ресурсам и рыболовным угодьям в результате нарушения требований законодательства об охране и использовании рыбных ресурсов.</p>
            <p class="txtj">39. Арендаторы рыболовных угодий, а также работники, на которых возложены обязанности по охране заповедников и национальных парков, имеют право:</p>
            <p class="txtj">39.1. составлять протоколы о нарушениях правил рыболовства;</p>
            <p class="txtj">39.2. проверять у лиц, находящихся в рыболовных угодьях, наличие документов на право рыболовства;</p>
            <p class="txtj">39.3. производить в установленном порядке досмотр вещей и транспортных средств;</p>
            <p class="txtj">39.4. изымать незаконно добытую продукцию рыболовства и используемые при этом орудия лова;</p>
            <p class="txtj">39.5. носить и применять в случаях и порядке, предусмотренных законодательством Республики Беларусь, табельное оружие;</p>
            <p class="txtj">39.6. передавать протоколы о правонарушениях в области охраны и использования животного мира и изъятые вещи органам Министерства природных ресурсов и охраны окружающей среды и Комитета рыбоохраны для рассмотрения дел об административных правонарушениях.</p>
            <p class="txtj">40. Изъятые у нарушителей настоящих Правил вещи (рыболовные снасти и другие средства, рыба, водные беспозвоночные), являющиеся орудием или непосредственным объектом правонарушения, обнаруженные при досмотре вещей, после рассмотрения дела об административном правонарушении, в зависимости от результатов его рассмотрения, конфискуются, или возвращаются владельцу, либо уничтожаются, а при возмездном изъятии вещей реализуются в установленном порядке.</p>
            <br>
            <h4>VIII. Ответственность за нарушение законодательства о любительском рыболовстве и возмещение вреда, причиненного этими действиями</h4>
            <br>
            <p class="txtj">41. Лица, виновные в нарушении настоящих Правил, несут ответственность в соответствии с законодательством Республики Беларусь.</p>
            <p class="txtj">42. Юридические и физические лица, причинившие вред окружающей среде незаконной добычей рыбы и других водных животных, возмещают его в установленном законодательством порядке.</p>
            <br>
            <p class="txtj">Исключены. - Постановление Минприроды от 22.03.2005 N 15.</p>
            <br>
            <p class="txtr">Приложение 2</p>
            <br>
            <h4>МИНИМАЛЬНЫЕ РАЗМЕРЫ РЫБ И ВОДНЫХ БЕСПОЗВОНОЧНЫХ, ДОПУСТИМЫХ К ВЫЛОВУ РЫБОЛОВАМИ-ЛЮБИТЕЛЯМИ</h4>
            <br>
<pre>------------------------+-------------------------------------------
¦   Вид рыб и водных    ¦             Размеры рыб, в см            ¦
¦    беспозвоночных     ¦                                          ¦
+-----------------------+--------------------+---------------------+
¦                       ¦   В арендованных   ¦  В не арендованных  ¦
¦                       ¦ рыболовных угодьях ¦  рыболовных угодьях ¦
+-----------------------+--------------------+---------------------+
¦Угорь                  ¦          -         ¦         -           ¦
+-----------------------+--------------------+---------------------+
¦Сиг                    ¦         36         ¦        36           ¦
+-----------------------+--------------------+---------------------+
¦Пелядь                 ¦         25         ¦        25           ¦
+-----------------------+--------------------+---------------------+
¦Щука                   ¦         35         ¦        35           ¦
+-----------------------+--------------------+---------------------+
¦Лещ                    ¦         27         ¦         -           ¦
+-----------------------+--------------------+---------------------+
¦Язь                    ¦         25         ¦        25           ¦
+-----------------------+--------------------+---------------------+
¦Линь                   ¦         22         ¦         -           ¦
+-----------------------+--------------------+---------------------+
¦Белый амур             ¦         36         ¦        36           ¦
+-----------------------+--------------------+---------------------+
¦Толстолобик            ¦         36         ¦        36           ¦
+-----------------------+--------------------+---------------------+
¦Сазан (карп)           ¦         30         ¦         -           ¦
+-----------------------+--------------------+---------------------+
¦Жерех                  ¦         34         ¦         -           ¦
+-----------------------+--------------------+---------------------+
¦Чехонь                 ¦         24         ¦         -           ¦
+-----------------------+--------------------+---------------------+
¦Синец                  ¦         20         ¦         -           ¦
+-----------------------+--------------------+---------------------+
¦Судак                  ¦         36         ¦        36           ¦
+-----------------------+--------------------+---------------------+
¦Сом европейский        ¦         70         ¦        70           ¦
+-----------------------+--------------------+---------------------+
¦Налим                  ¦         36         ¦        36           ¦
+-----------------------+--------------------+---------------------+
¦Голавль                ¦         25         ¦         -           ¦
+-----------------------+--------------------+---------------------+
¦Карась серебряный &lt;*&gt;  ¦         12         ¦        12           ¦
+-----------------------+--------------------+---------------------+
¦Узкопалый рак          ¦         9          ¦         9           ¦
------------------------+--------------------+----------------------</pre>
            <br>
            <p class="txtl">-------------------------------</p>
            <p class="txtj">&lt;*&gt; Промысловая мера на карася устанавливается только на водоемах Витебской области.</p>
            <br>
            <p class="txtr">Приложение 3</p>
            <br>
            <h4>ТАКСЫ ДЛЯ ИСЧИСЛЕНИЯ РАЗМЕРА ВЗЫСКАНИЙ ЗА УЩЕРБ, НАНЕСЕННЫЙ ГРАЖДАНАМИ РЕСПУБЛИКИ БЕЛАРУСЬ, ИНОСТРАННЫМИ ГРАЖДАНАМИ И ЛИЦАМИ БЕЗ ГРАЖДАНСТВА НЕЗАКОННЫМ ВЫЛОВОМ ИЛИ УНИЧТОЖЕНИЕМ РЫБ И ДРУГИХ ВОДНЫХ ЖИВОТНЫХ В РЫБОХОЗЯЙСТВЕННЫХ ВОДОЕМАХ РЕСПУБЛИКИ БЕЛАРУСЬ (утверждены Постановлением Кабинета Министров Республики Беларусь от 28 августа 1995 г. N 471)</h4>
            <br>
            <p class="txtj">Исключены. - Постановление Минприроды от 22.03.2005 N 15.</p>
            <br>
<pre>                                     УТВЕРЖДЕНО
                                     приказом Министерства природных
                                     ресурсов и охраны окружающей
                                     среды Республики Беларусь
                                     от 29 мая 1998 г. 158</pre>
            <br>
            <h3>ПРАВИЛА ПРОМЫСЛОВОГО РЫБОЛОВСТВА РЕСПУБЛИКИ БЕЛАРУСЬ</h3>
            <br>
            <h4>I. Общие положения</h4>
            <br>
            <p class="txtj">1. Настоящие Правила определяют порядок, условия, сроки, нормы вылова, а также ограничения на осуществление промыслового рыболовства на рыбохозяйственных водоемах (рыболовных угодьях) Республики Беларусь.</p>
            <p class="txtj">2. Действие настоящих Правил распространяется на рыболовные угодья, которые используются или могут быть использованы для промыслового лова рыбы и добычи водных беспозвоночных за исключением прудовых, садковых, бассейновых рыбоводных хозяйств, а также замкнутых водоемов технического назначения.</p>
            <p class="txtj">Промысловое рыболовство в водоемах заповедников и заповедных зон национальных парков запрещено.</p>
            <p class="txtj">3. Промысловым рыболовством признается промысловый лов рыбы и добыча водных беспозвоночных в рыболовных угодьях не запрещенными настоящими Правилами орудиями и способами лова.</p>
            <p class="txtj">4. Объектами промыслового рыболовства могут быть любые виды рыб и водных беспозвоночных, за исключением видов, включенных в Красную книгу Республики Беларусь, а также видов, лов которых запрещен или временно ограничен Министерством природных ресурсов и охраны окружающей среды в установленном законодательством Республики Беларусь порядке.</p>
            <p class="txtj">5. Правом промыслового рыболовства обладают субъекты хозяйствования, получившие в установленном порядке в Комитете рыбоохраны при Министерстве природных ресурсов и охраны окружающей среды Республики Беларусь (далее Комитет рыбоохраны) специальное разрешение (лицензию) на осуществление этого вида деятельности и имеющие рыболовные угодья на условиях договора аренды или пользования.</p>
            <p class="txtj">6. Акклиматизация новых видов рыб и водных беспозвоночных, а также переселение рыб и водных беспозвоночных в новые места обитания, производится в установленном Министерством природных ресурсов и охраны окружающей среды порядке.</p>
            <p class="txtj">7. Охрану рыболовных угодий и рыбных ресурсов на территории Республики Беларусь осуществляют органы Комитета рыбоохраны и арендаторы рыболовных угодий.</p>
            <p class="txtj">Государственный контроль за охраной рыбных ресурсов, их использованием, включая регулирование промыслового рыболовства, проведение мероприятий по воспроизводству и рыбохозяйственной мелиорации, выдачу специальных разрешений (лицензий) на организацию промыслового рыболовства осуществляет Министерство природных ресурсов и охраны окружающей среды Республики Беларусь, его органы, Комитет рыбоохраны и его органы.</p>
            <p class="txtj">8. Режим промыслового рыболовства в трансграничных (пограничных) водоемах устанавливается в соответствии с международными договорами Республики Беларусь.</p>
            <br>
            <h4>II. Права и обязанности арендаторов рыболовных угодий</h4>
            <br>
            <p class="txtj">9. Арендаторы рыболовных угодий имеют право:</p>
            <p class="txtj">9.1. вносить обоснованные предложения в органы рыбоохраны по изменению режима промыслового рыболовства на арендуемых водоемах с соблюдением настоящих Правил и договора аренды;</p>
            <p class="txtj">9.2. предъявлять в установленном порядке иски о возмещении вреда, причиненного ему неправомерными действиями юридических и физических лиц, повлекшими за собой гибель рыб и водных беспозвоночных, ухудшение среды их обитания;</p>
            <p class="txtj">9.3. осуществлять контроль за соблюдением рыболовами-любителями Правил любительского рыболовства на арендуемом водоеме.</p>
            <p class="txtj">10. Арендаторы рыболовных угодий обязаны:</p>
            <p class="txtj">10.1. использовать рыболовные угодья в соответствии с их целевым назначением и договором аренды;</p>
            <p class="txtj">10.2. обеспечивать сохранность среды обитания объектов рыболовства, мест нереста и зимних концентраций рыб (зимовальных ям);</p>
            <p class="txtj">10.3. соблюдать настоящие Правила и требования иного законодательства Республики Беларусь;</p>
            <p class="txtj">10.4. не превышать установленных лимитов (квот) вылова рыбы и добычи водных беспозвоночных. При выполнении лимита (квоты) промысел прекращать и информировать органы рыбоохраны;</p>
            <p class="txtj">10.5. обозначать в установленном порядке границы арендуемых рыболовных угодий;</p>
            <p class="txtj">10.6. осуществлять мероприятия по воспроизводству рыбных ресурсов, рыбоводно-мелиоративные работы с целью сохранения и повышения продуктивности рыболовных угодий в соответствии с программой рыбохозяйственного освоения водоема и рыбоводно-биологическими обоснованиями;</p>
            <p class="txtj">10.7. по требованию Комитета рыбоохраны проводить контрольные ловы рыб и водных беспозвоночных;</p>
            <p class="txtj">10.8. проводить согласованные с арендодателем и органами рыбоохраны мероприятия по предупреждению массовых эпизоотий и заморов рыбы и ликвидации их последствий;</p>
            <p class="txtj">10.9. осуществлять в установленном порядке маркировку и регистрацию промысловых орудий лова в районных (межрайонных) инспекциях рыбоохраны;</p>
            <p class="txtj">10.10. обеспечивать рыбаков промысловыми билетами, а также организовать ведение тоневых (промысловых) журналов в установленном Комитетом рыбоохраны порядке;</p>
            <p class="txtj">10.11. ежегодно проводить учет используемых рыбных запасов и объемов их изъятия по весу, видам и применяемым орудиям лова для каждого из арендованных водоемов отдельно;</p>
            <p class="txtj">10.12. предоставлять органам рыбоохраны сведения об использовании арендуемых рыболовных угодий по формам и в сроки, установленные Комитетом рыбоохраны;</p>
            <p class="txtj">10.13. осуществлять охрану рыбных ресурсов и среды их обитания в арендуемых рыболовных угодьях;</p>
            <p class="txtj">10.14. беспрепятственно допускать должностных лиц органов рыбоохраны, Министерства природных ресурсов и охраны окружающей среды и иных специально уполномоченных государственных органов по природным ресурсам и охране окружающей среды к местам лова, на плавсредства, приемные пункты, склады и другие объекты, связанные с рыбным промыслом, транспортировкой, хранением, переработкой и реализацией добытой рыбы и водных беспозвоночных;</p>
            <p class="txtj">10.15. предупреждать и пресекать нарушения в области охраны и использования животного мира, применять меры воздействия к нарушителям настоящих Правил, предусмотренные законодательством Республики Беларусь;</p>
            <p class="txtj">10.16. содержать в надлежащем санитарном состоянии прибрежные полосы (зоны) арендуемого водоема;</p>
            <p class="txtj">10.17. вносить в установленном порядке арендную плату за пользование рыболовными угодьями;</p>
            <p class="txtj">10.18. при наличии в арендуемом водоеме редких и исчезающих видов растений, расчистку тоневых участков производить по согласованию с органами Министерства природных ресурсов и охраны окружающей среды;</p>
            <p class="txtj">10.19. выполнять иные обязанности, предусмотренные законодательством Республики Беларусь и договором аренды.</p>
            <br>
            <h4>III. Объекты рыболовства и нормы промыслового лова</h4>
            <br>
            <p class="txtj">11. В рыболовных угодьях Республики Беларусь разрешается промысловый лов рыб и добыча водных беспозвоночных, кроме видов, изъятие которых запрещено или ограничено настоящими Правилами и другим законодательством Республики Беларусь.</p>
            <p class="txtj">В случае попадания в орудия лова рыб и водных беспозвоночных, относящихся к видам, включенным в Красную книгу Республики Беларусь, они должны быть выпущены в водоем в живом виде, а факт их поимки зарегистрирован в тоневом (промысловом) журнале.</p>
            <p class="txtj">12. В рыболовных угодьях, где проводится зарыбление, а также работы по акклиматизации и интродукции рыб и водных беспозвоночных, промысловое рыболовство может быть ограничено или запрещено Министерством природных ресурсов и охраны окружающей среды Республики Беларусь по представлению Комитета рыбоохраны.</p>
            <p class="txtj">В период действия ограничений, акклиматизируемые виды рыб и водных беспозвоночных при попадании в орудия лова должны быть выпущены в водоем в живом виде, а факт их поимки зарегистрирован в тоневом (промысловом) журнале.</p>
            <p class="txtj">13. Для отдельных видов рыб и водных беспозвоночных устанавливаются минимально допустимые к вылову размеры (промысловая мера) согласно приложению 2.</p>
            <p class="txtj">Длина рыбы определяется измерением расстояния от вершины рыла (при закрытом рте) до основания средних лучей хвостового плавника, длина рака и креветки - от линии глаз до конца средней хвостовой пластины.</p>
            <p class="txtj">При измерении рыбы в переработанном виде (соленом, копченом и вяленом) установленная мера снижается на 4%.</p>
            <p class="txtj">В случаях, указанных в пункте 28 настоящих Правил, допускается лов мигрирующего угря без соблюдения промысловой меры.</p>
            <p class="txtj">14. Максимально допустимый прилов охраняемых видов рыб менее промысловой меры устанавливается в размере не более 21 процента по счету от улова каждого вида рыб, указанных в Приложении 2 настоящих Правил.</p>
            <p class="txtj">Норма прилова рыб, не достигших промысловой меры, может быть для отдельных водоемов увеличена или отменена Министерством природных ресурсов и охраны окружающей среды по представлению Комитета рыбоохраны в соответствии с научными обоснованиями.</p>
            <p class="txtj">В случае превышения допустимого прилова рыб и водных беспозвоночных, не достигших промысловой меры, лов в водоеме прекращается или орудия лова заменяются другими, с большей ячеей. Выловленная рыба и добытые водные беспозвоночные, не достигшие промысловой меры, должны быть выпущены в водоем в живом виде.</p>
            <p class="txtj">Превышение допустимого прилова рыб и водных беспозвоночных, не достигших промысловой меры и не выпущенных в водоем в живом виде, квалифицируется как нанесение ущерба рыбным ресурсам, который возмещается в порядке, установленном законодательством Республики Беларусь, а выловленная рыба защитывается в объемы вылова.</p>
            <p class="txtj">15. При возникновении на водоеме заморных явлений, а также в случаях других вредных воздействий, оказывающих негативное влияние на состояние рыбных ресурсов, Комитет рыбоохраны по согласованию с местными исполнительными и распорядительными органами может разрешать отлов рыбы без соблюдения промысловой меры.</p>
            <p class="txtj">16. С учетом состояния рыбных ресурсов в отдельных арендуемых водоемах Министерством природных ресурсов и охраны окружающей среды устанавливается норма допустимого вылова (добычи) рыбы и водных беспозвоночных (лимит) в установленном порядке.</p>
            <br>
            <h4>IV. Орудия и способы промыслового лова</h4>
            <br>
            <p class="txtj">17. Промысловое рыболовство ведется орудиями и способами лова, не запрещенными настоящими Правилами.</p>
            <p class="txtj">18. В рыболовных угодьях Республики Беларусь разрешено применение орудий лова из сетематериалов со следующими минимальными размерами ячеи:</p>
            <p class="txtj">в озерных и речных неводах мотня - 18, привода - 22, крылья -26 мм;</p>
            <p class="txtj">в ставных и плавных сетях не менее 28 мм;</p>
            <p class="txtj">Абзац исключен. - Постановление Минприроды от 22.03.2005 N 15.</p>
            <p class="txtj">в сетях для лова уклеи не менее 12 мм;</p>
            <p class="txtj">в ловушках всех систем не менее 28 мм.</p>
            <p class="txtj">Абзац исключен. - Постановление Минприроды от 22.03.2005 N 15.</p>
            <p class="txtj">Размер ячеи в орудиях лова определяется путем измерения расстояния между 11 узлами дели или сетного полотна вытянутых в жгут и делением полученного числа на 10.</p>
            <p class="txtj">19. Промысловый лов мигрирующего угря разрешается ловушками с ячеей не менее 16 мм.</p>
            <p class="txtj">20. Промысловый лов рака узкопалого разрешается ловушками (жаками) с ячеей не менее 22 мм.</p>
            <p class="txtj">21. Применяемые для промыслового рыболовства орудия лова маркируются и регистрируются в органах рыбоохраны.</p>
            <p class="txtj">22. Промысловые орудия лова, принципы работы которых основаны на использовании электромагнитного поля, звука, света и других физических эффектов, оказывающих воздействие на рыб и водных беспозвоночных, подлежат обязательной государственной сертификации в установленном порядке. Порядок использования этих, а также тралящих орудий и иных способов лова, определяется Министерством природных ресурсов и охраны окружающей среды Республики Беларусь.</p>
            <br>
            <h4>V. Сроки ограничений и запретов</h4>
            <br>
            <p class="txtj">23. В целях обеспечения воспроизводства рыбных ресурсов Министерство природных ресурсов и охраны окружающей среды Республики Беларусь по представлению Комитета рыбоохраны ежегодно вводит запреты (ограничения) на промысловый лов рыбы и добычу водных беспозвоночных в период нереста (размножения) рыб и водных беспозвоночных с учетом гидрометеорологического прогноза и научных рекомендаций.</p>
            <p class="txtj">Продолжительность запрета (ограничения) рыболовства в период весеннего нереста рыб на всех водоемах и все виды рыб составляет - 60 дней.</p>
            <p class="txtj">Продолжительность весеннего запрета рыболовства на водоемах, регулярно зарыбляемых нагуливающимися видами рыб, составляет 30 дней. Перечень таких водоемов определяется Комитетом рыбоохраны.</p>
            <p class="txtj">24. Кроме запрета на лов всех видов рыб в период весеннего нереста устанавливаются запреты на:</p>
            <p class="txtj">- лов щуки с 1 марта по 31 марта;</p>
            <p class="txtj">Абзац исключен. - Постановление Минприроды от 22.03.2005 N 15.</p>
            <p class="txtj">- лов налима с 25 декабря по 28 февраля;</p>
            <p class="txtj">- лов раков с 15 октября по 15 июля;</p>
            <p class="txtj">- лов пресноводных креветок с 1 апреля по 15 июня;</p>
            <p class="txtj">- лов двустворчатых моллюсков (перловицы и беззубки) с 1 апреля по 15 июня.</p>
            <p class="txtj">25. Промысловый лов рыбы на зимовальных ямах запрещается с 1 октября по 15 апреля. Перечень зимовальных ям с указанием их границ ежегодно утверждается Министерством природных ресурсов и охраны окружающей среды по представлению Комитета рыбоохраны.</p>
            <p class="txtj">26. Сведения о сроках запрета на лов рыбы и добычу водных беспозвоночных и иных ограничениях промыслового рыболовства сообщаются через республиканские и местные средства массовой информации.</p>
            <p class="txtj">Запреты и ограничения вступают в силу после официального опубликования приказа, зарегистрированного в Министерстве юстиции Республики Беларусь.</p>
            <p class="txtj">27. Районные исполнительные комитеты в случае изменения погодных условий могут увеличивать продолжительность весеннего запрета на лов рыбы и добычу водных беспозвоночных на срок не более 10 дней по согласованию с Комитетом рыбоохраны.</p>
            <p class="txtj">28. В период весеннего запрета на промысловый лов рыбы разрешается лов мигрирующего угря в местах и порядке, ежегодно определяемых Министерством природных ресурсов и охраны окружающей среды Республики Беларусь по представлению Комитета рыбоохраны.</p>
            <br>
            <h4>VI. Ограничения и запреты</h4>
            <br>
            <p class="txtj">29. В целях сохранения и воспроизводства рыбных ресурсов, с учетом рекомендаций научно-исследовательских организаций, промысловое рыболовства на отдельных водоемах (их участках) может быть ограничено либо полностью запрещено Министерством природных ресурсов и охраны окружающей среды Республики Беларусь по представлению Комитета рыбоохраны и по согласованию с местными исполнительными и распорядительными органами.</p>
            <p class="txtj">30. Запрещается промысловый лов рыбы и добыча водных беспозвоночных:</p>
            <p class="txtj">30.1. с применением взрывчатых, отравляющих, наркотических веществ, и иных химических препаратов, колющих орудий лова, огнестрельного оружия;</p>
            <p class="txtj">30.2. с использованием орудий лова, не прошедших государственную сертификацию и регистрацию в установленном порядке;</p>
            <p class="txtj">30.3. с превышением установленных лимитов;</p>
            <p class="txtj">30.4. способом запруд и спуска воды из водоемов;</p>
            <p class="txtj">30.5. с незарегистрированных в установленном порядке плавсредств, а также плавсредств, не имеющих на корпусе четкого регистрационного номера;</p>
            <p class="txtj">30.6. с применением неводов (при подледном лове) в местах нереста налима и сиговых рыб, а также в местах посадки (выпуска) молоди угря в год зарыбления;</p>
            <p class="txtj">30.7. у охраняемых мостов, а также у плотин, шлюзов и насосных станций - на расстоянии ближе 200 метров от них.</p>
            <p class="txtj">31. В рыболовных угодьях запрещается:</p>
            <p class="txtj">31.1. перегораживать ставными орудиями лова более 2/3 ширины русла рек и других водотоков, за исключением случаев, предусмотренных пунктом 28 настоящих Правил, а также устанавливать в шахматном порядке ставные орудия лова на расстоянии ближе 100 метров друг от друга;</p>
            <p class="txtj">31.2. использование двух неводов одновременно с тягой навстречу друг другу ("в замок");</p>
            <p class="txtj">31.3 лов рыбы "гоном", способом "багрения", при помощи "бряцал" и "ботания";</p>
            <p class="txtj">31.4. использовать приспособления, уменьшающие размер ячеи в орудиях лова.</p>
            <p class="txtj">32. Запрещается промысловый лов, транспортировка, приемка, хранение, переработка и продажа рыб и водных беспозвоночных, не достигших промысловой меры, кроме случаев, указанных в пункте 19 настоящих Правил.</p>
            <p class="txtj">33. Запрещается ведение учета выловленной рыбы одного вида под названием другого или под названием "прочая" и "мелочь".</p>
            <p class="txtj">34. Запрещается привлечение посторонних лиц к работе при промысловом рыболовстве.</p>
            <p class="txtj">35. В период весеннего запрета на лов рыбы запрещается использование на водоемах (участках водоемов) моторных плавсредств, за исключением рыболовных угодий, где использование их разрешено Министерством природных ресурсов и охраны окружающей среды Республики Беларусь по представлению Комитета рыбоохраны, согласованного с местными исполнительными и распорядительными органами.</p>
            <p class="txtj">36. Запрещается перемещать орудия лова, плавсредства и другое оборудование из водоема в водоем без предварительной дезинфекции.</p>
            <p class="txtj">37. Запрещаются любые действия физических лиц и субъектов хозяйствования, оказывающие негативное воздействие на среду обитания рыб и водных беспозвоночных (мойка автомашин, транспорта, сброс неочищенных сточных вод, самовольное уничтожение водной и береговой растительности, распашка земель, непосредственно примыкающих к водоемам, загрязнение и захламление водоема посторонними предметами и др.).</p>
            <p class="txtj">38. Запрещается нахождение на водоеме или в пределах водоохранной зоны с орудиями лова, применение которых в данном районе и в данное время запрещено настоящими Правилами, а также со взрывчатыми и отравляющими веществами, за исключением случаев проведения в установленном порядке на водоемах взрывных работ, согласованных с органами рыбоохраны.</p>
            <p class="txtj">39. Запрещается промысловое рыболовство:</p>
            <p class="txtj">- на водоемах, расположенных на территориях радиоактивного загрязнения вследствие катастрофы на Чернобыльской АЭС в зоне эвакуации (отчуждения);</p>
            <p class="txtj">- на водоемах, расположенных в зонах первоочередного отселения и последующего отселения, - без специального разрешения Министерства по чрезвычайным ситуациям Республики Беларусь;</p>
            <p class="txtj">- в государственные праздники, праздничные и выходные дни.</p>
            <br>
            <h4>VII. Охрана рыболовных угодий и рыбных ресурсов и ответственность за нарушения правил рыболовства</h4>
            <br>
            <p class="txtj">40. Охрану рыболовных угодий и рыбных ресурсов на территории Республики Беларусь осуществляют органы Комитета рыбоохраны при Министерстве природных ресурсов и охраны окружающей среды Республики Беларусь, арендаторы рыболовных угодий.</p>
            <p class="txtj">41. Должностные лица Комитета рыбоохраны, Министерства природных ресурсов и охраны окружающей среды Республики Беларусь, заповедников и национальных парков, наделенные правами государственных инспекторов, государственные инспекторы рыбоохраны имеют право:</p>
            <p class="txtj">41.1. прекращать незаконное рыболовство и добычу водных беспозвоночных;</p>
            <p class="txtj">41.2. проверять документы на право рыболовства у лиц, находящихся в пределах рыболовных угодий, останавливать транспортные, плавучие средства и производить досмотр вещей, транспортных средств и судов, орудий рыболовства, добытой продукции и других предметов;</p>
            <p class="txtj">41.3. в случаях необходимости установления личности доставлять лиц, нарушающих законодательство в области рыболовства, в органы внутренних дел, местные органы власти;</p>
            <p class="txtj">41.4. изымать у лиц, нарушающих законодательство о рыболовстве, орудия добычи рыб и водных беспозвоночных, транспортные и плавучие средства, устройства и предметы, послужившие орудием правонарушения, незаконно добытую продукцию, а также соответствующие документы;</p>
            <p class="txtj">41.5. вызывать должностных лиц и граждан для дачи письменных объяснений в связи с нарушением ими законодательства о рыболовстве;</p>
            <p class="txtj">41.6. составлять протоколы о правонарушениях в области охраны и использования рыбных ресурсов по делам об административных правонарушениях;</p>
            <p class="txtj">41.7. рассматривать дела об административных правонарушениях и налагать административные взыскания;</p>
            <p class="txtj">41.8. применять в установленном порядке физическую силу, специальные средства, служебных собак и табельное оружие при задержании нарушителей;</p>
            <p class="txtj">41.9. в установленном порядке предъявлять иски о возмещении вреда, причиненного в результате нарушения природоохранного законодательства ресурсам рыб и водных беспозвоночных.</p>
            <p class="txtj">42. Арендаторы рыболовных угодий, а также работники, на которых возложены обязанности по охране заповедников и национальных парков, имеют право:</p>
            <p class="txtj">42.1. составлять протоколы о нарушениях правил рыболовства;</p>
            <p class="txtj">42.2. проверять у лиц, находящихся в рыболовных угодьях, наличие документов на право рыболовства;</p>
            <p class="txtj">42.3. производить в установленном порядке досмотр вещей и транспортных средств;</p>
            <p class="txtj">42.4. изымать незаконно добытую продукцию рыболовства и используемые при этом орудия лова;</p>
            <p class="txtj">42.5. носить и применять в случаях и порядке, предусмотренных законодательством Республики Беларусь, табельное оружие;</p>
            <p class="txtj">42.6. передавать протоколы о правонарушениях в области охраны и использования животного мира и изъятые вещи органам Министерства природных ресурсов и охраны окружающей среды и Комитета рыбоохраны для рассмотрения дел об административных правонарушениях.</p>
            <p class="txtj">43. По требованию должностных лиц специально уполномоченных государственных органов в области охраны и использовании животного мира, а также работников, на которых возложена охрана арендованных рыболовных угодий, нарушитель обязан извлечь из воды используемые в нарушении настоящих Правил орудия лова, а также находящуюся в них рыбу или водных беспозвоночных и доставить их в указанное ему место. Доставка орудий лова и выловленной рыбы производится за счет средств нарушителя.</p>
            <p class="txtj">44. Изъятые у нарушителей настоящих Правил вещи (орудия лова и другие средства, рыба, водные беспозвоночные), являющиеся орудием или непосредственным объектом правонарушения, обнаруженные при досмотре вещей после рассмотрения дела об административном правонарушении, в зависимости от результатов его рассмотрения, конфискуются, или возвращаются владельцу, либо уничтожаются, а при возмездном изъятии вещей реализуются в установленном порядке.</p>
            <p class="txtj">45. В целях повышения эффективности охраны и контроля за использованием рыбных ресурсов, Комитет рыбоохраны выдает разрешение на лов рыб и водных беспозвоночных (за исключением внесенных в Красную книгу Республики Беларусь) всеми орудиями лова, во всех водоемах и в любой период года:</p>
            <p class="txtj">45.1. научным организациям для проведения исследовательских и экспериментальных работ;</p>
            <p class="txtj">45.2. ихтиологической службе органов рыбоохраны для контрольных ловов с целью оценки состояния рыбных запасов и эффективности их воспроизводства;</p>
            <p class="txtj">45.3. субъектам хозяйствования для проведения рыбоводномелиоративных и рыбоводных работ, акклиматизации и зарыбления, целей воспроизводства и в случае заморов.</p>
            <br>
            <h4>VIII. Ответственность за нарушение законодательства о рыболовстве и возмещение вреда, причиненного этими действиями</h4>
            <br>
            <p class="txtj">46. Лица, виновные в нарушении настоящих Правил несут ответственность в соответствии с законодательством Республики Беларусь.</p>
            <p class="txtj">47. Субъекты хозяйствования обязаны возместить в полном объеме вред, причиненный ресурсам рыб и водных беспозвоночных.</p>
            <br>
            <h4>IX. Разрешение споров в области рыболовства</h4>
            <br>
            <p class="txtj">48. Споры в области рыболовства разрешаются судами в порядке, установленном законодательством Республики Беларусь.</p>
            <br>
            <p class="txtr">Приложение 1</p>
            <br>
            <h4>ВИДЫ РЫБ И ВОДНЫХ БЕСПОЗВОНОЧНЫХ, ВКЛЮЧЕННЫХ В КРАСНУЮ КНИГУ РЕСПУБЛИКИ БЕЛАРУСЬ (Изд. 2, 1993 г.)</h4>
            <br>
            <p class="txtj">Исключены. - Постановление Минприроды от 22.03.2005 N 15.</p>
            <br>
            <p class="txtr">Приложение 2</p>
            <br>
            <h4>МИНИМАЛЬНЫЕ РАЗМЕРЫ РЫБ И ВОДНЫХ БЕСПОЗВОНОЧНЫХ, ДОПУСТИМЫХ К ВЫЛОВУ ДЛЯ ПРОМЫСЛОВОГО РЫБОЛОВСТВА</h4>
            <br>
<pre>----------------------------+---------------------------------------
¦     Вид рыб и водных      ¦ Минимально допустимые размеры (в см) ¦
¦      беспозвоночных       ¦                                      ¦
+---------------------------+--------------------------------------+
¦Угорь                      ¦                 50                   ¦
+---------------------------+--------------------------------------+
¦Сиг                        ¦                 40                   ¦
+---------------------------+--------------------------------------+
¦Пелядь                     ¦                 25                   ¦
+---------------------------+--------------------------------------+
¦Щука                       ¦                 35                   ¦
+---------------------------+--------------------------------------+
¦Лещ                        ¦                 27                   ¦
+---------------------------+--------------------------------------+
¦Язь                        ¦                 25                   ¦
+---------------------------+--------------------------------------+
¦Линь                       ¦                 22                   ¦
+---------------------------+--------------------------------------+
¦Белый амур                 ¦                 40                   ¦
+---------------------------+--------------------------------------+
¦Толстолобик                ¦                 40                   ¦
+---------------------------+--------------------------------------+
¦Сазан (карп)               ¦                 30                   ¦
+---------------------------+--------------------------------------+
¦Жерех                      ¦                 34                   ¦
+---------------------------+--------------------------------------+
¦Чехонь                     ¦                 24                   ¦
+---------------------------+--------------------------------------+
¦Синец                      ¦                 20                   ¦
+---------------------------+--------------------------------------+
¦Судак                      ¦                 40                   ¦
+---------------------------+--------------------------------------+
¦Сом европейский            ¦                 70                   ¦
+---------------------------+--------------------------------------+
¦Налим                      ¦                 30                   ¦
+---------------------------+--------------------------------------+
¦Голавль                    ¦                 25                   ¦
+---------------------------+--------------------------------------+
¦Карась серебряный &lt;*&gt;      ¦                 12                   ¦
+---------------------------+--------------------------------------+
¦Узкопалый рак              ¦                  9                   ¦
----------------------------+---------------------------------------</pre>
            <br>
            <p class="txtl">-------------------------------</p>
            <p class="txtj">&lt;*&gt; Промысловая мера на карася устанавливается только на водоемах Витебской области.</p>
            <br>
            <p class="txtr">Приложение 3</p>
            <br>
            <h4>МИНИМАЛЬНЫЕ ДОПУСТИМЫЕ РАЗМЕРЫ ЯЧЕИ В ОРУДИЯХ ЛОВА</h4>
            <br>
            <h4>Минимальный допустимый размер ячеи в неводах при специализированном лове рыбы (в миллиметрах)</h4>
            <br>
<pre>-------------------+----------------+---------------+---------------
¦     Вид рыб      ¦     Мотня      ¦    Привод     ¦   Крылья     ¦
+------------------+----------------+---------------+--------------+
¦Уклея             ¦       5        ¦      10       ¦      12      ¦
-------------------+----------------+---------------+---------------</pre>
            <br>
<pre>                                     УТВЕРЖДЕНО
                                     приказом Министерства природных
                                     ресурсов и окружающей среды
                                     Республики Беларусь
                                     от 29 мая 1998 г. N 158
<br>
СОГЛАСОВАНО
Брестский областной исполнительный комитет
Председатель                   В.А.Заломай
22.12.1997 г.
<br>
СОГЛАСОВАНО
Витебский областной исполнительный комитет
Председатель               В.П.Андрейченко
18.01.1998 г.
<br>
СОГЛАСОВАНО
Гомельский областной исполнительный комитет
Председатель                  В.Г.Войтенков
19.01.1998 г.
<br>
СОГЛАСОВАНО
Гродненский областной исполнительный комитет
Председатель                       А.И.Дубко
28.11.1997 г.
<br>
СОГЛАСОВАНО
Минский областной исполнительный комитет
Председатель                   П.П.Петух
07.02.1998 г.
<br>
СОГЛАСОВАНО
Могилевский областной исполнительный комитет
Председатель                    А.Н.Куличков
11.12.1997 г.</pre>
            <br>
            <h3>ПОЛОЖЕНИЕ О КОНКУРСАХ ПО ПЕРЕДАЧЕ В АРЕНДУ РЫБОЛОВНЫХ УГОДИЙ ДЛЯ РЫБОХОЗЯЙСТВЕННОГО ИСПОЛЬЗОВАНИЯ</h3>
            <br>
            <h4>Общие положения</h4>
            <br>
            <p class="txtj">1. Настоящее Положение определяет условия и порядок проведения конкурсов по передаче в аренду рыболовных угодий (водоемов) для рыбохозяйственного использования рыбных ресурсов, а также права и обязанности участников конкурса.</p>
            <p class="txtj">2. Конкурс проводит районный Совет депутатов при наличии двух или нескольких заявлений на аренду одного и того же рыбохозяйственного водоема.</p>
            <p class="txtj">3. Решение о передаче в аренду рыболовных угодий и проведении конкурса принимается районным Советом депутатов, на территории которого находятся передаваемые в аренду рыболовные угодья.</p>
            <p class="txtj">Если в аренду передается водоем, расположенный на территории двух и более районов, решение о проведении конкурса принимается районным Советом депутатов, на территории которого располагается более 50% площади передаваемого в аренду водоема, по согласованию с областным Советом депутатов.</p>
            <p class="txtj">Районные Советы депутатов, на территории которых расположено менее 50% площади передаваемого в аренду водоема, или водоем расположен на их границах, согласовывают арендатору проект договора аренды и делегируют своего представителя для участия в работе конкурсной комиссии.</p>
            <p class="txtj">4. Участниками конкурса могут быть субъекты хозяйствования, осуществляющие свою деятельность на территории Республики Беларусь.</p>
            <p class="txtj">5. По конкурсу для рыбохозяйственного использования рыбных ресурсов могут быть арендованы рыболовные угодья, составляющие государственный резервный фонд, а также рыболовные угодья, на аренду которых истек срок договора аренды или он расторгнут досрочно:</p>
            <p class="txtj">- реки или их участки;</p>
            <p class="txtj">- озера или их части;</p>
            <p class="txtj">- водохранилища или их части.</p>
            <br>
            <h4>Подготовка и организация проведения конкурсов</h4>
            <br>
            <p class="txtj">6. Районный Совет депутатов для принятия решения о проведении конкурса создает конкурсную комиссию (далее комиссия) и утверждает ее персональный состав. Комиссия организует свою работу в соответствии с данным Положением.</p>
            <p class="txtj">7. В состав комиссии включаются представители органов рыбоохраны и районных инспекций природных ресурсов и охраны окружающей среды, представители областного Совета депутатов, представители районных Советов депутатов, на территории которых расположено менее 50% площади передаваемого в аренду водоема, либо граничащих с ним, а также представители иных органов и организаций.</p>
            <p class="txtj">8. Комиссия:</p>
            <p class="txtj">- письменно информирует всех участников о проведении конкурса не позднее чем за месяц до его проведения;</p>
            <p class="txtj">- организует проведение конкурса;</p>
            <p class="txtj">- имеет право требовать от субъектов хозяйствования наряду с документами, перечисленными в п.3 Положения о рыболовстве, и иные документы, необходимые для принятия решения о победителе конкурса;</p>
            <p class="txtj">- определяет победителя либо принимает иное решение по результатам конкурса;</p>
            <p class="txtj">- представляет протокол заседания комиссии на утверждение районному Совету депутатов, который и выносит окончательное решение;</p>
            <p class="txtj">- публикует информационное сообщение о конкурсе в печати.</p>
            <p class="txtj">9. Заседания комиссии являются правомочными при наличии на них не менее 2/3 от общего числа членов комиссии. Члены комиссии принимают участие в ее работе без права замены.</p>
            <p class="txtj">10. На заседания комиссии могут приглашаться специалисты, эксперты, а также участники конкурса или их представители, имеющие на это доверенность.</p>
            <p class="txtj">11. Все решения комиссии оформляются протоколом, подписываются председателем и членами комиссии.</p>
            <p class="txtj">12. Письменное сообщение участникам о конкурсе по передаче в аренду рыболовных угодий должно включать следующие данные:</p>
            <p class="txtj">а) полное наименование рыболовных угодий;</p>
            <p class="txtj">б) их характеристика и место расположения;</p>
            <p class="txtj">в) орган, организующий проведение конкурса;</p>
            <p class="txtj">г) перечень субъектов хозяйствования, подавших заявления на аренду данного рыбохозяйственного водоема;</p>
            <p class="txtj">д) дата, время, место проведения конкурса;</p>
            <p class="txtj">е) адрес, номер контактного телефона для уточнения или получения дополнительной информации.</p>
            <br>
            <h4>Условия участия в конкурсе и условия определения победителей</h4>
            <br>
            <p class="txtj">13. Субъекты хозяйствования допускаются к участию в конкурсе при условии, что они представили:</p>
            <p class="txtj">- обязательные документы, перечень которых указан в п.3 Положения о рыболовстве, в том числе:</p>
            <p class="txtj">- программу, предусматривающую:</p>
            <p class="txtj">объемы финансирования работ по воспроизводству аборигенных видов рыб и зарыбление их молодью арендованных водоемов;</p>
            <p class="txtj">финансирование исследовательских работ, направленных на улучшение экосистемы и сохранения видового разнообразия водных животных;</p>
            <p class="txtj">- иные предложения и документы, связанные с особенностями передаваемых в аренду рыболовных угодий.</p>
            <p class="txtj">14. Субъект хозяйствования, допущенный к участию в конкурсе, имеет право отказаться от участия в конкурсе. Отказом признается письменное заявление.</p>
            <p class="txtj">15. Победителем конкурса признается участник, представивший наиболее рациональную и полную программу рыбохозяйственного использования данного водоема либо его части, которая должна отвечать следующим требованиям:</p>
            <p class="txtj">- сохранение и рациональное использование рыбных ресурсов;</p>
            <p class="txtj">- восполнение изымаемых рыбных ресурсов с целью сохранения видового разнообразия;</p>
            <p class="txtj">- предотвращение загрязнения водоохранной зоны.</p>
            <p class="txtj">При определении победителя конкурса могут также учитываться:</p>
            <p class="txtj">- сумма ставки арендной платы, предлагаемая участникам конкурса;</p>
            <p class="txtj">- средства, которые участник конкурса предполагает затратить на выполнение своей программы.</p>
            <br>
            <h4>Порядок рассмотрения предложений участников конкурса</h4>
            <br>
            <p class="txtj">16. Предложения участников конкурса рассматриваются комиссией, исходя из установленных условий участия в конкурсе и условий определения победителей (условий конкурса) на заседании комиссии.</p>
            <p class="txtj">17. Если предложения не отвечают условиям конкурса, комиссия это фиксирует в протоколе и информирует субъекта хозяйствования.</p>
            <p class="txtj">18. Если предложения двух и более участников удовлетворяют условиям конкурса, победитель устанавливается по результатам закрытого голосования членов комиссии.</p>
            <p class="txtj">19. Протокол конкурса в недельный срок представляется комиссией на утверждение районному Совету депутатов.</p>
            <p class="txtj">20. Районный Совет депутатов протокол конкурса о передаче в аренду водоемов, расположенных на территории двух и более районов, согласовывают с областным Советом депутатов.</p>
            <p class="txtj">21. Протокол, утвержденный районным Советом депутатов, направляется победителю конкурса с указанием места и времени заключения договора аренды.</p>
            <p class="txtj">22. Районный исполнительный комитет информирует областной исполнительный комитет о результатах проведения конкурса.</p>
            <br>



            <p align="left">Право Беларуси 2009</p><font color="#FFFFFF">карта новых документов</font>
        </td>
    </div>
</div>