@model IEnumerable<FishWithAuth.EF.Entities.Lake>

@{
    ViewBag.Title = "View";
}

<h1 class="main_h1">Озёра:</h1>

@using (Html.BeginForm("Lakes", "Home"))
{
    <div class="container_search_list_input">
        <h2>Введите название озера:</h2>
        <input name="text" class="search_list_input" />
        <div class="searh_list_btn">
            <button type="submit">Поиск</button>
        </div>
    </div>
}

<div class="list_of_cards">
    @foreach (var item in Model.OrderBy(x => x.Name))
    {
        <div class="card_of_list">
            <a href="@Url.Action($"Lake/{item.Id}", "Home")" class="list_card_link">
                <img class="img_of_card_list" src="@item.Image">
                <h2 class="list_card_title">@item.Name</h2>
            </a>
        </div>
        <hr class="hr_card" />
    }

</div>


<script>

</script>