@model IEnumerable<FishWithAuth.EF.Entities.FishRod>

@{
    ViewBag.Title = "View";
}

@foreach (var item in Model)
{
    <div class="card" style="margin-top: 20px;">
        <img src="https://offers-api.agregatoreat.ru/api/file/8a9d80ed-1e36-4386-ba47-90307f47587d" class="card-img-top" style="width : 250px; height: 200px;">
        <div class="card-body">
            <h5 class="card-title">@item.Name</h5>
            <p class="card-text">@item.Description</p>
            <a href="#" class="btn btn-primary">Переход куда-нибудь</a>
            @if (ViewBag.IsAdmin)
            {
                using (Html.BeginForm("UpdateRod", "Home"))
                {
                    <input type="hidden" name="rodId" id="rodId" value="@item.Id" />
                    <input type="submit" value="Редактировать ( для админа )" />
                }
            }
        </div>
    </div>
}